@charset "UTF-8";

/* estilos carrosel*/

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden; /* Oculta as imagens que saem da área do carrossel */
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Mantém todas as imagens dentro da área visível */
    position: relative; /* Evita que os botões sumam */
}


.carousel-item {
    width: 100%;
    flex-shrink: 0;
}

button#prev, button#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 10;
}

#prev { left: 10px; }
#next { right: 10px; }



/* Produtos Destacados */
.produtos-destacados {
    padding: 20px;
    background-color: #f7f7f7;
}

.produtos-destacados h2 {
    color: #333;
    margin-bottom: 15px;
}

.produto {
    margin-bottom: 20px;
    text-align: center;
}

.produto img {
    width: 80%; /* Ajuste conforme necessário */
    height: auto;
}

.produto h3 {
    margin: 5px 0;
}

/* Sobre Nós */
.sobre-nos {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
}

.sobre-nos h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Testemunhos */
.testemunhos {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.testemunhos h2 {
    color: #333;
    margin-bottom: 10px;
}

.testemunhos blockquote {
    font-style: italic;
    color: #666;
}

/* Chamada para Ação */
.chamada-acao {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

.chamada-acao h2 {
    margin-bottom: 15px;
}

.chamada-acao a {
    padding: 10px 20px;
    background-color: #2980b9;
    border-radius: 5px;
    color: white;
}

.chamada-acao a:hover {
    background-color: #1b6391;
}



