@charset "UTF-8";

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --cor-principal: #e3867b; /* Salmão */
    --cor-secundaria: #E6E6FA; /* Lavanda claro */
    --cor-terciaria: #d9bde0; /* Lilás claro*/
    --cor-destaque: #FFB6C1; /* Rosa claro */
    --cor-texto: #59537d; /* Azul escuro para texto */
    --cor-fundo: #FFF5EE; /* Salmão bem clarinho para fundo */
}

/* Estilizar o main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-fundo);
}

/* Container do login */
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 350px;
    border: 1px solid var(--cor-principal);
    box-shadow: 0px 0px 5px var(--cor-terciaria);
}

/* Ajustar a imagem no topo */
.imglogin img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 30%;
}

h2 {
    margin-bottom: 10px;
    color: var(--cor-texto);
}

/* Inputs e botão */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: var(--cor-principal);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    transform: scale(1.02);
}

label {
    color: var(--cor-texto);
    text-align: left;
}
